extends layout.pug

block content
    //- Need some kind of phone wrapper logic
    .photo-wrapper
    h1 #{business.name}
    div
        p #{business.phoneNum}
        p #{business.description}
    .address
        p #{business.address}
    //- review section
