extends layout.pug

block content
  //-includes google-map.pug
  h1 Best #{title} in San Francisco, CA
  .business-card-container
  script(src="/js/navbar-search.js")
  //- script(src="/js/search.js")